.cabecalho__menu-hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.container__imagem{
    padding: 1em;
}

.container__botao:checked ~ .container-rotulo>.cabecalho__menu-hamburguer{
    background-image: url(../assets/MenuAberto.svg);
}

.container__botao:checked~.container-rotulo{
    background: var(--azul-degrade);
}

.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    margin: -0.45rem;
}

.container__botao:checked ~ .lista_menu{
    display: block;
}

.container__botao{
    display: none;
    
}

.lista_menu_titulo, .lista_menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista_menu_titulo{
    color: var(--laranja);
    font-weight: 600;
    font-family:var(--fonte-secundaria);
}

.lista_menu_link{
    background: var(--azul-degrade);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.lista_menu_item:hover{
    background: var(--azul-degrade);
    border: 2px solid var(--branco);
}

.lista_menu_item:hover>.lista_menu_link{
    -webkit-text-fill-color: var(--branco);
   
}


.logo-titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__imagem-titulo{
    display: none;
}



@media screen and (min-width: 1024px){

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .logo-titulo{
        display: block;
        font-family: var(--fonte-terciaria);
        font-size: 2rem;
        font-weight: 400;
        border-right-style: solid;
        border-right-color: var(--cinza);
        border-right-width: 2px ;
        padding-right: 1rem;
    }

    .container-favs-transp{
        display: none;
    }

    .logo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 1.5rem;
        margin-left: 2rem;
        gap: 1.5rem;
        text-transform: uppercase;
    }

    .opcoes_link{
        text-decoration: none;
    }

    .opcoes-botao{
        display: none;
    }

    .opcoes-botao:checked ~ .lista_menu{
        display: block;
        width: auto;
        border-color: var(--azul) ;
        border-style: solid;
        border-width:  0 5px;
    }

    .container__botao:checked ~ .opcoes-rotulo>.opcoes_item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes_item{
        padding: 1em 3em;
    }

    .opcoes_link{
        text-align: center;
        align-items: center;
    }

    .lista_menu_item:hover{
        background: var(--azul-degrade);
        border: 2px solid var(--branco);
    }
    
    .lista_menu_item:hover>.lista_menu_link{
        -webkit-text-fill-color: var(--branco);
    }
}

    .container__imagem-titulo{
        display: none;
    }












@media screen and (min-width: 1728px){

    .container{
        margin-right: 2rem;
    }

    .container__imagem-titulo{
        display: block;
        margin-right: 2rem;
    }
    .container__imagem-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--azul);
        font-family: var(--fonte-principal) ;
        font-size: 1.2rem;
        font-weight: 500;

    }

    .lista_menu_item:hover{
        background: var(--azul-degrade);
        border: 2px solid var(--cinza);
    }
    
    .lista_menu_item:hover>.lista_menu_link{
        -webkit-text-fill-color: var(--branco);
    }
}